<div class="overflow-auto">
  <table class="striped">
    <thead>
      <tr>
        <th>Tune</th>
        <th>File Name</th>
      </tr>
    </thead>
    <tbody>
      {% for file in include.tune_files %}
      <tr>
        <td>
          <audio controls preload="none" src="{{ file.path | relative_url }}">
            <a href="{{ file.path | relative_url }}">{{ file.name }}</a>
          </audio>
        </td>
        <td><code>{{ file.name }}</code></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
